.field {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 2em;
}

.field>input {
    padding-left: 1em;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 1em;
    width: 60%;
}

#uni-properties {
    width: 90%;
    margin: auto;
}

#uni-geometry {
    width: 90%;
    margin: auto;
}

.save {
    height: 2em;
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.save>button {
    font-size: x-large;
}

.back {
    height: 3em;
    display: flex;
    justify-content: center;
    padding-top: 2em;
    font-size: x-large;
}